<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %> wants to invite you to their bike ride!</h1>
    <p>
      @url
    </p>
  </body>
</html>