<h3 class='title_inline'>Choose a Ride</h3> <%= link_to 'Custom Ride', new_event_path %><br><br>

<table class='table table-hover'>
<% current_user.events.each do |event| %>
	<tr><td>
			<h4 class='title-inline'><%= link_to event.title, edit_eventpost_path(event.id) %> 
			<% if !event.is_private %>
				<span class="glyphicon glyphicon-globe"></span></h4>
			<% else %>
				</h4>
			<% end %>
		</td></tr>
<% end %>
</table>