<%= form_for @event, :role => 'form', url: {action: 'update'}, method: :put do |event| %> 

Step 2/2 Choose a Time, Set Sharing Permissions
<input type="date" name='date' />
<input type="time" name='time' />
<p><%= event.check_box :is_private %> <b>Only my friends can see this ride.</b></p><br>

	<div><%= event.submit "Publish", :class => "btn btn-warning btn-lg" %>
	</div><br>
<% end %>