var div_id = $('#content');
var content = "<br><h4>Followers</h4>";

<% if @user.followers_count_by_type("user") != 0 %>
	<% @user.followers_by_type("user").each do |follower| %>
		content += "<%= escape_javascript link_to follower.name, user_path(follower.id) %>";
		content += "<br>";
	<% end%>
<% end%>

["profile","followers","following","watched","joined"].forEach(
	function(divid){
		$('#' + divid).removeClass("active");
	});
$('#followers').addClass("active");
div_id.html(content);