var div_id = $('#content');
var content = "<h4>Following</h4>";

<% if current_user.followees_count_by_type("user") != 0 %>
	<% current_user.followees_by_type("user").each do |follow| %>
		content += "<%=follow.name%>" + "<br>";
	<% end%>
<% end%>

div_id.html(content);