<div class="form-group">
	<%= form.label :title, "Title *" %>
	<%= form.text_field :title, :class => 'form-control', :value => event.title, placeholder: "SF => Marin Headlands", "required"=>"" %>
</div><br>