<script>
$(document).ready(function(){
	// save_geolocation();

	// if a position was obtained, save it
	// otherwise, ignore; ask user for city and state at the next opportunity: eventsearch#index
	var save_geolocation_url = '<%= save_geolocation_events_url() %>';
	getGeolocationFromBrowser();
	$(document).on("geolocation_ready",function(event,geolocation){
		if(geolocation && save_geolocation_url != ''){
			setGeolocation(save_geolocation_url,geolocation.coords.latitude,geolocation.coords.longitude);
		} else {
			setGeolocation(save_geolocation_url,false,false);
		}
	 });
});
</script>

<div style='display:table; position:absolute; height:90%; width:100%;'>
	<div style='display: table-cell; vertical-align: middle;'>
	<div style='width:300px; margin-left:auto; margin-right:auto;'>
	<%=link_to 'Find Ride', eventsearch_index_path, :class => 'btn btn-default btn-lg btn-block' %>
	<%=link_to 'Post Ride', eventpost_index_path, :class => 'btn btn-default btn-lg btn-block' %>
</div></div></div>
