<table style='height=100%; border: 1px solid #000; width: 100%'><tr><td style='height:100%;'>
<%=link_to 'Find Ride', root_path, :class => 'btn btn-default btn-lg btn-block' %>
<%=link_to 'Post Ride', eventpost_index_path, :class => 'btn btn-default btn-lg btn-block' %>
</td></tr></table>
