<ul class="nav nav-tabs">
<li class="active"><%= link_to "My Events", events_path %></li>
<li><%= link_to "Add Custom Event", new_event_path %></li>
</ul>
<br><br>

<table class='table table-hover'>
<% current_user.events.each do |event| %>
	<tr><td>
		<h4 class='title-inline'><%= link_to event.title, event_path(event.id) %> 
		<% if !event.is_private %>
			<span class="glyphicon glyphicon-globe"></span></h4>
		<% else %>
			</h4>
		<% end %>
	</td><td class='td_bar warning'>
		<%= link_to raw('<span class="glyphicon glyphicon-edit"></span>'),edit_event_path(event.id), :class => 'icon-lg' %>
	</td></tr>
<% end %>
</table>