<!-- if entered new address, pass in new params and refresh page -->
<script>
$(document).ready(function(){
	geolocate_nearest();
});
</script>

<h2>Welcome, Join a Ride</h2>
<div id="map"></div>
<div id="content"></div>
<div id="watched"></div>
<div id="joined"></div>