<!-- if entered new address, pass in new params and refresh page -->
<script>
	$(document).ready(function(){
		geolocate_nearest();
	});
</script>

<h2>Join a Ride</h2>
<div id="geocoding_div"></div>
<div id="map"></div>