<!-- if entered new address, pass in new params and refresh page -->
<script>
	$(document).ready(function(){
		geolocate(init_map);
		put_address_flow();
	});
</script>

<h2>Join a Ride</h2>
make javascript to loop thru all the meeting_points
<div id="geocoding_div"></div>
<div id="map"></div>