// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	height:100%;
}

body {
	height:100%;
}

.content {
	height:100%;
}

.events-home-container {
	background-image: url("/images/home.jpg"); 
	height:100%;
}

.glyphicon-bicycle {
	background-image: url("/images/glyphicons_306_bicycle.png");
	width: 24px;
	height: 15px;
}

#main:not(.events-home-container) {
	min-height:100%;
}

.footer {
	color:#d8d8d6;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #293446),
		color-stop(1, #383C5C)
	);
	background-image: -o-linear-gradient(bottom, #293446 0%, #383C5C 100%);
	background-image: -moz-linear-gradient(bottom, #293446 0%, #383C5C 100%);
	background-image: -webkit-linear-gradient(bottom, #293446 0%, #383C5C 100%);
	background-image: -ms-linear-gradient(bottom, #293446 0%, #383C5C 100%);
	background-image: linear-gradient(to bottom, #293446 0%, #383C5C 100%);
}

// table cell in events/eventsearch/index
.cell {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 5px;
}

.map_full {
	height: 600px;
}

.map_half {
	height: 300px;
}

.title_inline {
	display:inline;
}

.icon-lg {
	font-size: 150%;
}

.red {
	color: red;
}

.td_bar {
	text-align: center;
	vertical-align: middle;
}

// styles to accomodate mobile version
@media all and (max-width:768px) {
	.map_full {
		height: 300px;
	}

	body {
		font-size: 12px;
	}

	.navbar-brand {
		padding-left:30px;
	}

	.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
		margin-right:0px;
	}

	.eventsearch-index-h4{
		display:inline;
		font-size:14px;
	}
}

// inactive glyphicons
.inactive a:link, .inactive a:visited, .inactive a:hover, .inactive a:active
{
	color: #333;
}

// layouts/navigation
// navbar button hover
.navbar-inverse .navbar-nav>li>a:hover,click {
	background-color:#333;
}

// eventsearch#index
@media all and (min-width:768px) {

	#map-container.sticky-top {
	     position: fixed;
	     top: 65px;
	}

	#map-container.sticky-bottom {
	     position: fixed;
	     bottom: 100px;
	}

	#hidden-container.hide-me {
		display:none;
	}
}

.eventsearch-index-h4{
	display:inline;
}

